# Dependências
node_modules/
dist/

# Variáveis de ambiente — NUNCA commitar
.env
.env.*
!.env.example

# Credenciais Google Cloud / Service Accounts
credentials/
*.json
!package.json
!package-lock.json
!tsconfig*.json

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Deploy
.vercel

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
